.event-day {
  background-color: rgb(9, 207, 9) !important;
  color: white !important;
}
.calendar-container {
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;

  position: relative;
}

.rbc-calendar {
 padding-top: 50px;
}

.react-calendar {
  height: 340px;
}

#description {
  padding-top: 20px;
}

