.AvatarDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    color: #53686A;
    text-align: center;
    font-family: SF Pro, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: 5;
    line-height: 22px;
    align-self: stretch;
}
.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #53686A;
    text-align: center;
    font-family: SF Pro, sans-serif;
    font-size: 20pt;
    font-style: normal;
    font-weight: 5;
    line-height: 2;
    align-self: stretch;
    margin-top: 2%;
}
.text_footer {
    color: #53686A;
    text-align: center;
    font-family: SF Pro, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: 170;
    line-height: 22.063pt;
    margin-top: 2%;
}
.button {
    display: block;
    margin: 4% auto;
    border-radius: 20px;
    background: #F7F9FB;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.text_reserved {
    color: #53686A;
    text-align: center;
    font-family: SF Pro, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: 170;
    line-height: 22.063pt;
    margin-right: 15.5%;
}
.textContainer {
    display: flex;
}
.footer_heading {
    font-size: 37.3pt;
    color: #444444;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: SF Pro, sans-serif;
    font-style: normal;
    font-weight: 510;
    letter-spacing: -0.746px;
}
.logo {
    font-size: 15pt;
    margin-left: 22%;
    color: #444444;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: SF Pro, sans-serif;
    font-style: normal;
    font-weight: 510;
    letter-spacing: -0.746px;
    margin-right: 17%;
}
.image {
    margin-left: 80%;
 }

.AvatarContainer {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AvatarTitle {
    font-size: 30pt;
    color: #9B59B6;
    text-align: center;
    justify-content: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: SF Pro, sans-serif;
    font-style: normal;
    font-weight: 510;
    letter-spacing: -0.746px;
}

.TextTitle {
    font-size: 30pt;
    color: #9B59B6;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: SF Pro, sans-serif;
    font-style: normal;
    font-weight: 510;
    letter-spacing: -0.746px;
}

.text {
    color: #53686A;
    text-align: center;
    font-family: SF Pro, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: 170;
    line-height: 22.063pt;
}
