@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar_wrapper {
    position: relative;
}

body {
    font-family: 'SF Pro', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sidebar_icon-wrapper {
    position: relative;
    display: inline-block;
}
.sidebar_item {
    transition: transform 0.3s ease-in-out;
}
.tooltip.show {
    display: block;
    z-index: 999;
}
.tooltip {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #fff;
    z-index: 999;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
}

.sidebar_link:hover + .tooltip {
    display: block;
}
.sidebar_item:hover .tooltip {
    display: block;
}
.sidebar {
    width: 17rem;
    height: 90vh;
    padding: 1rem;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    overflow: hidden;
    border-radius: 28px;
    border: 1px solid rgba(245, 239, 235, 0.40);
    background: rgba(255, 237, 224, 0.56);
    box-shadow: 0 64px 64px -32px rgba(102, 37, 0, 0.56), 0 56px 64px -16px rgba(102, 37, 0, 0.56);
    backdrop-filter: blur(80px);
}

.sidebar_top {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #93867E;
}

.sidebar_logo {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    border-radius: 1rem;
}

.sidebar_logo-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(36, 34, 32, 0.56);
}

.sidebar_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.sidebar_link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    background: #D1B7AC15;
    color: rgba(36, 34, 32, 0.56);
    font-size: 11px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 0.8rem;
    opacity: 1;
    margin-bottom: 1rem;
}

.sidebar_icon {
    display: inline-block;
    font-size: 1.2rem;
}

.sidebar_name {
    margin-left: 0.5rem;
}

[data-collapse="true"] {
    width: 5.3rem;
}

[data-collapse="true"] .sidebar_name,
[data-collapse="true"] .sidebar_logo-name {
    display: none;
}

.btn {
    position: absolute;
    right: 0;
    top: 4.7rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateX(50%);
    font-size: 1.1rem;
    fill: rgba(255, 237, 224, 0.56);
    stroke-width: 1px;
    stroke: rgba(245, 239, 235, 0.32);
    backdrop-filter: blur(90px);
    z-index: 10;
}
